<div class="container">
  <h1>CREAR / AGREGAR PRODUCTOS</h1>
  <div class="agregar_prod_container">
    <span>Nombre Producto</span>
    <input matInput type="text" />
    <hr />
    <br />
    <span>Cantidad en el Inventario</span>
    <input type="text" />
    <br />
    <hr />
    <span>Habilitado ?</span>
    <input type="text" />
    <br />
    <hr />
    <span>Minimo</span>
    <input type="text" />
    <br />
    <hr />
    <span>Maximo</span>
    <input type="text" />
    <br />
    <hr />
    <button mat-stroked-button routerLink="/products">Cerrar</button>
  </div>
</div>
