<h1>Carrito Compras</h1>
<hr />
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>Nro.</th>
      <td mat-cell *matCellDef="let i = index">{{ i }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="inInventory">
      <th mat-header-cell *matHeaderCellDef>inInventory</th>
      <td mat-cell *matCellDef="let element">{{ element.inInventory }}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let element">{{ element.precio }}</td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>enabled</th>
      <td mat-cell *matCellDef="let element">
        {{ element.enabled }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    length="element"
  >
  </mat-paginator>
  <div class="botones">
    <button class="carrito-button" mat-flat-button routerLink="/products">
      Volver
    </button>
    <button class="comprar-button" mat-flat-button color="warn">COMPRAR</button>
  </div>
</div>
