<div class="contenedor-padre">
  <mat-toolbar class="barra" color="warn">
    <mat-toolbar-row class="barra2">
      <span> El Almacen </span>
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
        routerLink=""
      ></mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
