.contenedor-padre {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.barra {
  box-shadow: 1px 1px 1px 1px grey;
  display: flex;
  justify-content: space-around;
}
.barra2 {
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}
