<h1>Lista de Productos</h1>
<hr />
<div class="botones">
  <button
    class="agregar-button"
    mat-stroked-button
    color="primary"
    routerLink="products/addProd"
  >
    Agregar Productos
  </button>
  <button
    class="carrito-button"
    mat-stroked-button
    color="warn"
    routerLink="/buy"
  >
    Ver Carrito
  </button>
</div>

<router-outlet></router-outlet>
<div class="products-container">
  <div class="card-container" *ngFor="let prod of products">
    <mat-card class="product_card">
      <mat-card-header>
        <mat-card-title> Nombre : {{ prod.name }}</mat-card-title>
        <mat-card-subtitle> Enabled: {{ prod.enabled }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Descripcion del producto</p>
        <p>Minima compra : {{ prod.min }}</p>
        <p>Maxima cantidad :{{ prod.max }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="warn">ELIMINAR</button>
        <button mat-stroked-button color="primary">EDITAR</button>
        <button mat-stroked-button color="primary" (click)="comprar(this.prod)">
          COMPRAR
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
