.product_card {
  width: 100%;
  margin: 2px;
}

.card-container {
  margin: 5px;
}

.products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
}

h1 {
  margin-top: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin: 2px;
}
.botones {
  display: flex;
  justify-content: space-around;
}
