<h1>CREAR USUARIO PARA PODER COMPRAR</h1>
<div class="form-registro">
  <span>Nombre</span>
  <input type="text" />
  <hr />
  <br />
  <span>Email</span>
  <input type="text" />
  <br />
  <hr />
  <span>Tipo Documento</span>
  <input type="text" />
  <hr />
  <br />

  <button
    mat-stroked-button
    color="accent"
    [routerLink]="['/products']"
    routerLinkActive="router-link-active"
  >
    Registrarme
  </button>
</div>
