button {
  margin: 5px;
}

.form-registro {
  margin: 0px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  border: solid 1px;
}
input,
span {
  margin: 5px;
}

h1 {
  text-align: center;
}
